<% lang = I18n.locale %>
<% if @spree_vendor_follower.save  %>
	$('#store-'+ "<%= @spree_vendor_follower.store.id %>" + "-follwers-count").html("<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/vendors/follower_section", locals: {store: @spree_vendor_follower.store} %>");
	$('#js-messages').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><p><%= @spree_vendor_follower.store.name %> is successfully added into your store list. </p>")
	$('#js-messages').addClass("alert-success")
	$('#js-messages').removeClass('hide alert-danger')
<% else %>
	$('#js-messages').html("<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a><p><%=  @spree_vendor_follower.errors.messages.flatten %></p>")
	$('#js-messages').addClass("alert-danger")
	$('#js-messages').removeClass('hide alert-success')
<% end %>

$('html, body').animate({
  scrollTop: $("#js-messages").offset().top
}, 2000);
$('#store-<%= @spree_vendor_follower.store.id%>').html("<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/vendors/follower_section", locals: {store: @spree_vendor_follower.store} %>");
