<p id="notice"><%= notice %></p>

<h1>Spree Vendor Followers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_vendor_followers.each do |spree_vendor_follower| %>
      <tr>
        <td><%= spree_vendor_follower.user_id %></td>
        <td><%= spree_vendor_follower.vendor_id %></td>
        <td><%= link_to 'Show', spree_vendor_follower %></td>
        <td><%= link_to 'Edit', edit_spree_vendor_follower_path(spree_vendor_follower) %></td>
        <td><%= link_to 'Destroy', spree_vendor_follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spree Vendor Follower', new_spree_vendor_follower_path %>
